black==24.4.2
click==8.0.1
coverage==5.5
Flask==2.0.1
flask-smorest==0.34.0
marshmallow==3.13.0
matplotlib==3.7.0
numpy==1.26.1
networkx==2.8.6
werkzeug==2.0.3
qiskit==0.44.1
qiskit-optimization==0.5.0
qiskit_qasm3_import~=0.3.0
pylatexenc